<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
	<title>Hello World, AngularJS</title>


</head>
<body ng-controller="filterController" >
	{{fileName}}
	<input type="text" ng-model="searchText"/>
	<br/>
	<br/>
		<table >
		<tr>
			<th>Name</th>
			<th>Mother</th>
		</tr>
		<tr ng-repeat="kid in kids|customSearch:searchText">
			<td>{{kid.name}}</td>
			<td>{{kid.mother}}</td>
		</tr>

	</table>

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>
