<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="col-lg-6">
       <div class="panel panel-default">
            <div class="panel-body">
				<table class="table table-condensed" style="border-collapse:collapse;">
				    <thead>
				        <tr><th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
				            <th>Class Name</th>
				            <th>Description</th>
				            <th>Shubham Sharma</th>
				            <th>Region</th>
				            <th>Status</th>
				        </tr>
				    </thead>
					
					
						
    				<tbody>
					        <tr ng-repeat-start="assetDetail in Classes">
					            <td><input type="text" ng-model="searchfilter"></td>
					            <td>{{assetDetail.assetClassType}}</td>
					            <td>
					            	<button ng-if="assetDetail.expanded" ng-click="assetDetail.expanded = false">-</button>
              						<button ng-if="!assetDetail.expanded" ng-click="assetDetail.expanded = true">+</button>
					            </td> 
					        </tr>
					        <tr ng-if="assetDetail.expanded" ng-repeat-end="">
					            <td colspan="12">
						            <div > 
						              <table class="table table-striped"> 
						                      <tbody>
						                        <tr ng-repeat-start="it in assetDetail.assetClassList|filter:searchfilter">
						                        	<td><input type="checkbox" ng-model="it.Selected" ng-click="selectedAssetClass(assetDetail.assetClassType,it.assetClassName);"/></td>
						                        	<td>{{it.assetClassName}}</td>
						                        	<td>{{it.currency}}</td>
						                        	<td>{{it.Frequency}}</td>
						                        	<td>{{it.fxhedge}}</td>
						                        	
						                        	
						                  		</tr>
						                  		<tr ng-repeat-end=""></tr>
						                      </tbody>
						               	</table>
						              
						              </div> 
						         </td>
					        </tr>
   					</tbody>
				</table>
            </div>
          </div> 
      </div>
</body>
</html>