<!DOCTYPE html>
<html>
<!-- CDN LINK  -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<script src="angular.js"></script>
<body>

<div ng-app="firstApp">
  <div>
	 Type anything: <input type="text" ng-model="name">
  </div>
  
  </br></br>
  
  <div>{{name}}</div>
</div>

<div ng-app="secondApp">
  <div>
	 Type anything: <input type="text" ng-model="name">
  </div>
  
  </br></br>
  
  <div>{{name}}</div>
</div>


<script>
var app = angular.module('firstApp', []);
var app = angular.module('secondApp', []);

</script>

</body>
</html>